<style>
    .block > * {
      margin: 0.5rem 0.3rem;
    }
  </style>

<div class="block">
    <button  type="button"  class="btn btn--200 btn--tertiary"><span class="btn__content">Button 200</span></button>
    <button  type="button"  class="btn btn--100 btn--tertiary"><span class="btn__content">Button 100</span></button>
    <button  type="button"  class="btn btn--50 btn--tertiary"><span class="btn__content">Button 50</span></button>
</div>

<div class="block">
    <button type="button" class="btn btn--100 btn--tertiary " disabled><span class="btn__content">Button disabled</span></button>
</div>
