@charset "UTF-8";
/* reset*/ 
button {
  padding: 0;
  color: inherit;
  cursor: pointer;
  background-color: transparent;
  border-width: 0;
}

/* stylelint-disable-next-line */
a.btn {
  display: inline-flex;
}

/************ START ACTUAL BUTTON STYLES *************/
.btn {
  position: relative;
  overflow: hidden;
  font-weight: 700;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: -0.01em;
  transition-timing-function: ease;
  transition-duration: 150ms;
  transition-property: all;
  transition-property: border-color, background-color, color;
  /*********  PRIMARY  *********/
  /*********  SECONDARY  *********/
  /*********  TERTIARY  *********/
}
.btn.btn--full-width {
  display: block;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 1023px) {
  .btn.btn--full-width\:400 {
    display: block;
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .btn.btn--full-width\:300 {
    display: block;
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 425px) {
  .btn.btn--full-width\:200 {
    display: block;
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 359px) {
  .btn.btn--full-width\:100 {
    display: block;
    width: 100%;
    text-align: center;
  }
}
.btn span {
  color: inherit;
}
.btn--50 {
  max-height: 2.5rem;
  padding: 0.5rem 1rem;
}
.btn--100 {
  max-height: 3.5rem;
  padding: 1rem 1.5rem;
}
.btn--200 {
  max-height: 4.5rem;
  padding: 1.5rem 1.5rem;
}
.btn .sd-icon,
.btn i {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  font-size: 1.5rem;
  color: inherit;
  vertical-align: top;
}
.btn.btn--icon-right .sd-icon,
.btn.btn--icon-right i {
  margin-right: 0;
  margin-left: 0.5rem;
}
.btn .badge {
  margin-left: 0.5rem;
  font-weight: 400;
}
.btn__animation {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4.5rem;
  height: 1.5rem;
}
.btn__animation .btn__dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.btn__animation .btn__dot:not(:nth-child(3)) {
  margin-right: 0.5rem;
}
.btn__animation .btn__dot:nth-child(1) {
  -webkit-animation-name: btn-loading-animation__1;
          animation-name: btn-loading-animation__1;
}
.btn__animation .btn__dot:nth-child(2) {
  -webkit-animation-name: btn-loading-animation__2;
          animation-name: btn-loading-animation__2;
}
.btn__animation .btn__dot:nth-child(3) {
  -webkit-animation-name: btn-loading-animation__3;
          animation-name: btn-loading-animation__3;
}
.btn__animation .btn__dot:nth-child(4) {
  -webkit-animation-name: btn-loading-animation__4;
          animation-name: btn-loading-animation__4;
}
.btn__animation-ripple, .icon-btn__animation-ripple-light, .btn__animation-ripple-light {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-animation: ripple_effect_animation 0.3s ease-in-out;
          animation: ripple_effect_animation 0.3s ease-in-out;
}
.btn__animation-ripple-light {
  background-color: rgba(255, 255, 255, 0.1);
}
@-webkit-keyframes btn-loading-animation__1 {
  0%, 70%, 100% {
    opacity: 0.2;
  }
  30% {
    opacity: 1;
  }
}
@keyframes btn-loading-animation__1 {
  0%, 70%, 100% {
    opacity: 0.2;
  }
  30% {
    opacity: 1;
  }
}
@-webkit-keyframes btn-loading-animation__2 {
  0%, 15%, 85%, 100% {
    opacity: 0.2;
  }
  45% {
    opacity: 1;
  }
}
@keyframes btn-loading-animation__2 {
  0%, 15%, 85%, 100% {
    opacity: 0.2;
  }
  45% {
    opacity: 1;
  }
}
@-webkit-keyframes btn-loading-animation__3 {
  0%, 30%, 100% {
    opacity: 0.2;
  }
  60% {
    opacity: 1;
  }
}
@keyframes btn-loading-animation__3 {
  0%, 30%, 100% {
    opacity: 0.2;
  }
  60% {
    opacity: 1;
  }
}
.btn--primary {
  color: var(--color-grey-700);
  background-color: var(--color-primary-300);
}
@media not all and (pointer: coarse) {
  .btn--primary:hover {
    background-color: var(--color-primary-200);
  }
}
.btn--primary:disabled {
  cursor: not-allowed;
  opacity: 0.25;
}
@media not all and (pointer: coarse) {
  .btn--primary:disabled:hover {
    background-color: var(--color-primary-300);
    -webkit-animation-name: disabled_shake_animation;
            animation-name: disabled_shake_animation;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
            animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  @-webkit-keyframes disabled_shake_animation {
    10% {
      transform: translateX(-10px);
    }
    40% {
      transform: translateX(10px);
    }
    70% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(10px);
    }
  }
  @keyframes disabled_shake_animation {
    10% {
      transform: translateX(-10px);
    }
    40% {
      transform: translateX(10px);
    }
    70% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(10px);
    }
  }
}
.btn--primary.btn--danger {
  color: var(--color-white);
  background-color: var(--color-red-400);
}
@media not all and (pointer: coarse) {
  .btn--primary.btn--danger:hover {
    background-color: var(--color-red-300);
  }
}
@media not all and (pointer: coarse) {
  .btn--primary.btn--danger:disabled:hover {
    background-color: var(--color-red-400);
  }
}
.btn--primary.btn--danger .sd-icon,
.btn--primary.btn--danger i {
  color: var(--color-white);
}
.btn--primary.btn--danger.btn--loading {
  background-color: var(--color-red-100);
}
.btn--primary.btn--danger.btn--loading .btn__animation .btn__dot {
  background: var(--color-red-400);
}
.btn--primary.btn--loading {
  cursor: default;
  background-color: var(--color-primary-100);
}
.btn--primary.btn--loading .btn__animation .btn__dot {
  background: var(--color-primary-400);
}
.btn--secondary {
  color: var(--color-grey-700);
  border: 1px solid var(--color-grey-700);
}
@media not all and (pointer: coarse) {
  .btn--secondary:hover {
    color: var(--color-white);
    background-color: var(--color-grey-700);
  }
  .btn--secondary:hover .sd-icon,
.btn--secondary:hover i {
    color: var(--color-white);
  }
}
.btn--secondary:disabled {
  cursor: not-allowed;
  opacity: 0.25;
}
@media not all and (pointer: coarse) {
  .btn--secondary:disabled:hover {
    color: var(--color-grey-700);
    background-color: transparent;
    -webkit-animation-name: disabled_shake_animation;
            animation-name: disabled_shake_animation;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
            animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  @-webkit-keyframes disabled_shake_animation {
    10% {
      transform: translateX(-10px);
    }
    40% {
      transform: translateX(10px);
    }
    70% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(10px);
    }
  }
  @keyframes disabled_shake_animation {
    10% {
      transform: translateX(-10px);
    }
    40% {
      transform: translateX(10px);
    }
    70% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(10px);
    }
  }
}
.btn--secondary.btn--danger {
  color: var(--color-red-400);
  border: 1px solid var(--color-red-400);
}
.btn--secondary.btn--danger .sd-icon,
.btn--secondary.btn--danger i {
  color: var(--color-red-400);
}
@media not all and (pointer: coarse) {
  .btn--secondary.btn--danger:hover {
    color: var(--color-white);
    background-color: var(--color-red-400);
    border: 1px solid var(--color-red-400);
  }
  .btn--secondary.btn--danger:hover .sd-icon,
.btn--secondary.btn--danger:hover i {
    color: var(--color-white);
  }
}
@media not all and (pointer: coarse) {
  .btn--secondary.btn--danger:disabled:hover {
    color: var(--color-red-400);
    background-color: transparent;
  }
}
.btn--secondary.btn--danger.btn--loading {
  border: 1px solid var(--color-red-100);
}
.btn--secondary.btn--danger.btn--loading .btn__animation .btn__dot {
  background: var(--color-red-400);
}
.btn--secondary.btn--on-dark {
  color: var(--color-grey-100);
  border: 1px solid var(--color-grey-100);
}
.btn--secondary.btn--on-dark .sd-icon,
.btn--secondary.btn--on-dark i {
  color: var(--color-white);
}
@media not all and (pointer: coarse) {
  .btn--secondary.btn--on-dark:hover {
    color: var(--color-grey-700);
    background-color: var(--color-grey-100);
  }
  .btn--secondary.btn--on-dark:hover .sd-icon,
.btn--secondary.btn--on-dark:hover i {
    color: var(--color-grey-700);
  }
}
@media not all and (pointer: coarse) {
  .btn--secondary.btn--on-dark:disabled:hover {
    color: var(--color-grey-100);
    background-color: transparent;
  }
}
.btn--secondary.btn--on-dark.btn--loading {
  border: 1px solid var(--color-grey-500);
}
.btn--secondary.btn--on-dark.btn--loading .btn__animation .btn__dot {
  background: var(--color-grey-100);
}
.btn--secondary.btn--loading {
  cursor: default;
  border: 1px solid var(--color-grey-300);
}
.btn--secondary.btn--loading .btn__animation .btn__dot {
  background: var(--color-grey-700);
}
@media not all and (pointer: coarse) {
  .btn--secondary.btn--loading:hover {
    background-color: transparent;
  }
}
@media not all and (pointer: coarse) {
  .btn--secondary.has-disabled-look:hover {
    -webkit-animation-name: disabled_shake_animation;
            animation-name: disabled_shake_animation;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
            animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    background-color: transparent;
  }
  @-webkit-keyframes disabled_shake_animation {
    10% {
      transform: translateX(-10px);
    }
    40% {
      transform: translateX(10px);
    }
    70% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(10px);
    }
  }
  @keyframes disabled_shake_animation {
    10% {
      transform: translateX(-10px);
    }
    40% {
      transform: translateX(10px);
    }
    70% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(10px);
    }
  }
}
.btn--tertiary {
  color: var(--color-grey-700);
}
@media not all and (pointer: coarse) {
  .btn--tertiary:hover {
    color: var(--color-grey-500);
  }
}
.btn--tertiary:disabled {
  cursor: not-allowed;
  opacity: 0.25;
}
@media not all and (pointer: coarse) {
  .btn--tertiary:disabled:hover {
    -webkit-animation-name: disabled_shake_animation;
            animation-name: disabled_shake_animation;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
            animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    color: var(--color-grey-700);
  }
  @-webkit-keyframes disabled_shake_animation {
    10% {
      transform: translateX(-10px);
    }
    40% {
      transform: translateX(10px);
    }
    70% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(10px);
    }
  }
  @keyframes disabled_shake_animation {
    10% {
      transform: translateX(-10px);
    }
    40% {
      transform: translateX(10px);
    }
    70% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(10px);
    }
  }
}
.btn--tertiary .btn__content {
  text-decoration: underline;
  text-underline-offset: 1px;
}
.btn--tertiary.btn--danger {
  color: var(--color-red-400);
}
.btn--tertiary.btn--danger .sd-icon,
.btn--tertiary.btn--danger i {
  color: var(--color-red-400);
}
@media not all and (pointer: coarse) {
  .btn--tertiary.btn--danger:hover {
    background-color: var(--color-red-100);
  }
}
@media not all and (pointer: coarse) {
  .btn--tertiary.btn--danger:disabled:hover {
    background-color: transparent;
  }
}
.btn--tertiary.btn--danger.btn--loading .btn__animation .btn__dot {
  background: var(--color-red-400);
}
.btn--tertiary.btn--on-dark {
  color: var(--color-white);
}
.btn--tertiary.btn--on-dark .sd-icon,
.btn--tertiary.btn--on-dark i {
  color: var(--color-white);
}
@media not all and (pointer: coarse) {
  .btn--tertiary.btn--on-dark:hover {
    color: var(--color-grey-200);
  }
}
@media not all and (pointer: coarse) {
  .btn--tertiary.btn--on-dark:disabled:hover {
    color: var(--color-white);
  }
}
.btn--tertiary.btn--on-dark.btn--loading .btn__animation .btn__dot {
  background: var(--color-grey-100);
}
.btn--tertiary.btn--loading {
  cursor: default;
}
.btn--tertiary.btn--loading .btn__animation .btn__dot {
  background: var(--color-grey-700);
}
@media not all and (pointer: coarse) {
  .btn--tertiary.btn--loading:hover {
    background-color: transparent;
  }
}
.btn--tertiary.btn--no-padding {
  padding: 0;
}
.btn.has-disabled-look {
  cursor: not-allowed;
  opacity: 0.25;
}
@media not all and (pointer: coarse) {
  .btn.has-disabled-look:hover {
    -webkit-animation-name: disabled_shake_animation;
            animation-name: disabled_shake_animation;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
            animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    color: var(--color-grey-700);
  }
  @-webkit-keyframes disabled_shake_animation {
    10% {
      transform: translateX(-10px);
    }
    40% {
      transform: translateX(10px);
    }
    70% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(10px);
    }
  }
  @keyframes disabled_shake_animation {
    10% {
      transform: translateX(-10px);
    }
    40% {
      transform: translateX(10px);
    }
    70% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(10px);
    }
  }
}

/*********  ICON ONLY  *********/
.icon-btn {
  position: relative;
  overflow: hidden;
  border-radius: 100%;
  transition-timing-function: ease;
  transition-duration: 150ms;
  transition-property: all;
  transition-property: border-color, background-color, color;
}
.icon-btn--50 {
  width: 2.5rem;
  min-width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
}
@media not all and (pointer: coarse) {
  .icon-btn--50:hover {
    border-radius: 2rem;
    transform: translateZ(0);
  }
}
.icon-btn--50 .sd-icon,
.icon-btn--50 i {
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.icon-btn--100 {
  width: 3.5rem;
  min-width: 3.5rem;
  height: 3.5rem;
  padding: 1rem;
}
@media not all and (pointer: coarse) {
  .icon-btn--100:hover {
    border-radius: 2rem;
    transform: translateZ(0);
  }
}
.icon-btn--100 .sd-icon,
.icon-btn--100 i {
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.icon-btn--200 {
  width: 4.5rem;
  min-width: 4.5rem;
  height: 4.5rem;
  padding: 1rem;
}
@media not all and (pointer: coarse) {
  .icon-btn--200:hover {
    border-radius: 4.5rem;
    transform: translateZ(0);
  }
}
.icon-btn--200 .sd-icon,
.icon-btn--200 i {
  display: inline-block;
  font-size: 2.5rem;
  line-height: 2.5rem;
}
.icon-btn__animation-ripple {
  position: absolute;
  width: 2px;
  height: 2px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-animation: ripple_effect_animation 0.3s ease-in-out;
          animation: ripple_effect_animation 0.3s ease-in-out;
}
.icon-btn__animation-ripple-light {
  background-color: rgba(255, 255, 255, 0.1);
}
@media not all and (pointer: coarse) {
  .icon-btn:hover {
    background-color: var(--color-translucent-150);
  }
}
.icon-btn:disabled {
  cursor: not-allowed;
  opacity: 0.25;
}
@media not all and (pointer: coarse) {
  .icon-btn:disabled:hover {
    background-color: transparent;
    -webkit-animation-name: disabled_shake_animation;
            animation-name: disabled_shake_animation;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
            animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  @-webkit-keyframes disabled_shake_animation {
    10% {
      transform: translateX(-10px);
    }
    40% {
      transform: translateX(10px);
    }
    70% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(10px);
    }
  }
  @keyframes disabled_shake_animation {
    10% {
      transform: translateX(-10px);
    }
    40% {
      transform: translateX(10px);
    }
    70% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(10px);
    }
  }
  .icon-btn:disabled:hover .icon-btn {
    cursor: not-allowed;
  }
}
.icon-btn--on-dark .sd-icon,
.icon-btn--on-dark i {
  color: var(--color-white);
}
.icon-btn--on-dark:hover {
  background-color: var(--color-translucent-250);
}
.icon-btn--blurry {
  /* slightly transparent fallback */
  background-color: var(--color-translucent-250);
  /* if backdrop support: very transparent and blurred */
  /* stylelint-disable-next-line */
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .icon-btn--blurry {
    background-color: var(--color-translucent-200);
    /* stylelint-disable-next-line */
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
  }
}
.icon-btn--blurry .sd-icon,
.icon-btn--blurry i {
  color: var(--color-white);
}
.icon-btn--blurry:hover {
  background-color: var(--color-grey-500);
}
.icon-btn.has-disabled-look {
  cursor: not-allowed;
  opacity: 0.25;
}
@media not all and (pointer: coarse) {
  .icon-btn.has-disabled-look:hover {
    -webkit-animation-name: disabled_shake_animation;
            animation-name: disabled_shake_animation;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
            animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    color: var(--color-grey-700);
  }
  @-webkit-keyframes disabled_shake_animation {
    10% {
      transform: translateX(-10px);
    }
    40% {
      transform: translateX(10px);
    }
    70% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(10px);
    }
  }
  @keyframes disabled_shake_animation {
    10% {
      transform: translateX(-10px);
    }
    40% {
      transform: translateX(10px);
    }
    70% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(10px);
    }
  }
}